@media screen and (max-width: 875px){
  .head_menu li{
    display: none;
  }
  .menu,.head_menu_mobile{
    display: flex;
  }
  .head_menu_mobile{
    position: fixed;right: 10%;top: 11%;
    flex-direction: column;
    max-height: 15rem;
    max-width: 70%;
    transition: 0.8s ease-in-out;;
    transform-origin:top;
    width: 70%;
    color: var(--maincolor);
    background-color: var(--secondcolor);
    border-radius: 0.8rem;
    opacity: 98%;
  }
  .head_menu_mobile li{
    text-align: center;
    font-size: 0.9rem;
    list-style: none;
    padding: 1.1rem;
    text-transform: uppercase;
  }
  .head_menu_mobile_close{
    max-height: 0px;
    max-width: 0px;
    border:0px;
    opacity: 0%;
  }
  .head_menu{
    height: 3rem;
    left: 0px;right: 0px;
    padding: 0px;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 2rem;
    padding-bottom: 1.2rem;
  }
  .head_menu_section_close{
    display: none;
  }
  .head_menu_name{
    margin-top: 0.8rem;
    font-size: 1.1rem;
    vertical-align: middle;
  }

  .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 0;
    scale: 50%;
    position: absolute;top: 0.4rem;
    right: 12px;
  }
  .line {
    fill: none;
    stroke: var(--secondcolor);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .home , .about , .project , .contact {
    margin-left: 14%;
    margin-right: 14%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0%;
    margin-bottom: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home_text{
    margin-top: 8rem;
    font-size: 1.6rem ;
  }
  .home_img{
    height: 15rem;
  }
  .home_text_sub{
    display: none;
  }

  .about{
    margin-left: 0; margin-right: 0;
    padding-left: 14%; padding-right: 14%;
  }
  #about_texts{
    margin-top: 1rem;
    font-size: 0.9rem;
    width: 100%;
    text-align: left;
    border-right: 0;
  }
  .about_title{
    font-size: 1rem;
  }
  .about_button{
    width: 100%;
  }
  .about_posts{
    display: none;
  }
  
  .projects{
    height:75rem;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project{
    width: 100%;
    justify-content: center;
    padding: 1rem;
  }

  .contact{
    margin-left: 0; margin-right: 0;
    padding-left: 14%; padding-right: 14%;
    height: 90rem;
  }
  .box-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap:0;
  }
  .box{
    margin-top: 0;
    padding: 1rem;
  }
  .box h3{
    font-size: 1rem;
  }
  .box a{
    font-size: 0.9rem;
  }
}

