@media screen and (max-width: 875px){
  .head_menu li{
    display: none;
  }
  .menu,.head_menu_mobile{
    display: flex;
  }
  .head_menu_mobile{
    position: fixed;right: 10%;top: 11%;
    flex-direction: column;
    max-height: 15rem;
    max-width: 70%;
    transition: 0.8s ease-in-out;;
    transform-origin:top;
    width: 70%;
    color: var(--maincolor);
    background-color: var(--secondcolor);
    border-radius: 0.8rem;
    opacity: 98%;
  }
  .head_menu_mobile li{
    text-align: center;
    font-size: 1rem;
    list-style: none;
    padding: 1.1rem;
    text-transform: uppercase;
  }
  .head_menu_mobile_close{
    max-height: 0px;
    max-width: 0px;
    border:0px;
    opacity: 0%;
  }
  .head_menu{
    height: 3rem;
    left: 0px;right: 0px;
    padding: 12%;
    padding-top: 2rem;
    padding-bottom: 1.2rem;
  }
  .head_menu_section_close{
    display: none;
  }
  .head_menu_name{
    margin-top: 0.8rem;
    font-size: 1.1rem;
    vertical-align: middle;
  }

  .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 0;
    scale: 50%;
    position: absolute;top: 0.4rem;
    right: 12px;
  }
  .line {
    fill: none;
    stroke: var(--secondcolor);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .home ,.about , .projects, .contact{
    height: 50rem;
    margin-left: 12%;
    margin-right: 12%;
    border-bottom: 0;
    border-top: 0;
    margin-top: 0%;
    margin-bottom: 0%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .home_text{
    margin-top: 8rem;
    font-size: 1.6rem ;
  }
  .home_img{
    height: 18rem;
  }

  .about_texts{
    width: 100%;
    text-align: center;
    line-height: 1.9rem;
  }
  .about_text{
    font-size: 1.5rem;
  }
  .about_text_sub{
    width: 100%;
  }
  .about_text_subplus{
    display: block;
    width: 100%;
  }
  .about_button{
    width: 100%;
    font-size: 0.9;
    padding: 1rem;
  }
  .about_img{
    width: 100%;
    height: 12rem;
    display: none;
  }

  .projects{
    align-items: center;
  }
  .project{
    width: 98%;
    height:18rem;
    margin-top: 2rem;
  }
  .project_title{
    font-size: 1.2rem;
  }
  .project_description{
    font-size: 1.1rem;
  }
  .project_button{
    font-size: 0.9rem;
    margin-top: 2rem;
    width: 100%;
  }

  .box h3{
    font-size: 1.2rem;
  }
  .box a{
    font-size: 1rem;
  }
  .box-container{
    gap:0;
  }
  .box{
    background: none;
    padding:0.5rem;
    border: 0;
  }
  .contact .credit{
    margin-top:  2rem;
    border-top: 0;
}
}

