* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  overflow: hidden;
  background-color: #000000;
}

#messages_container{
  height: 1100px;
  overflow: auto;
}
#messages_container::-webkit-scrollbar{
  width: 0px;
}

.bot-messages{
  background-color: #D2D2D2;
  border-radius: 100px;
  color: #000000;
  font-size: 38px;
  font-weight: 500;
  border: 2px solid #FFFFFF;
  margin: 30px;
  padding: 20px;
  width: fit-content;
  max-width:75%;
  padding-left: 40px;
  padding-right: 40px;
}

.user-messages{
  background-color: #D2D2D2;
  border-radius: 100px;
  color: #000000;
  font-size: 38px;
  font-weight: 500;
  border: 2px solid #FFFFFF;
  margin: 50px;
  padding: 20px;
  width: fit-content;
  max-width:75%;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.mic-content {
  width: 150px;
  height: 150px;
  font-size: 48px;
  cursor: pointer;
  border-radius: 20px;
  background: rgb(202 253 255 / 50%);
}
.mic {
  background: transparent;
  outline: none;
  border: none;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  cursor: pointer;
}
.mic i {
  text-align: center;
  font-size: 75px;
  color: #aed0d0;
}
